.spacer {
    flex: 1;
  }
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--navbar-color);
    color: var(--text-color);;
    font-weight: 600;
  }
  
  .toolbar img {
    margin: 0 16px;
  }
  
  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }
  
  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }
  .toolbar .link{
      padding: 10px;
      color:var(--text-color);
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      background-color: var(--navbar-button);
      margin: 0 10px;
      text-align: center;
      cursor: pointer;
    }
  .button {
    background-color: var(--navbar-button);
    border: none;
    color: var(--text-color);;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 600;
  
  }